<!DOCTYPE html>
{% extends 'index.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="col-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Basic form elements</h4>
                  <p class="card-description">
                    Select Category
                  </p>
                    <form method="post" action="{% url 'updatedat' dataid=data.id %}" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="col-sm-9">
                            <select class="form-control" name="cname">
                                <option>{{data.Cat_Name}}</option>
                               {% for d in cat %}
                                    <option>{{d.Cat_Name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    <div class="form-group">
                      <label for="exampleInputName1">Product Name</label>
                      <input type="text" class="form-control" id="exampleInputName1" placeholder="CName" name="pname" value="{{data.Pro_Name}}">
                    </div>
                    <div class="form-group">
                      <label for="exampleInputName1">Price</label>
                      <input type="text" class="form-control" id="exampleInputName1" placeholder="Age" name="price" value="{{data.Price}}">
                    </div>
<!--                    <div class="form-group">-->
<!--                      <label for="exampleInputName1">Department</label>-->
<!--                      <input type="text" class="form-control" id="exampleInputName1" placeholder="Department" name="department">-->
<!--                    </div>-->
<!--                    <div class="form-group">-->
<!--                      <label for="exampleInputName1">Mobile Number</label>-->
<!--                      <input type="text" class="form-control" id="exampleInputName1" placeholder="Number" name="number">-->
<!--                    </div>-->
<!--                    <div class="form-group">-->
<!--                      <label for="exampleInputEmail3">Email address</label>-->
<!--                      <input type="email" class="form-control" id="exampleInputEmail3" placeholder="Email" name="email">-->
<!--                    </div>-->
<!--                    <div class="form-group">-->
<!--                      <label for="exampleInputPassword4">Experience</label>-->
<!--                      <input type="text" class="form-control" id="exampleInputPassword4" placeholder="Experience" name="experience" >-->
<!--                    </div>-->
<!--                    <div class="form-group">-->
<!--                      <label for="exampleSelectGender">Gender</label>-->
<!--                        <select class="form-control" id="exampleSelectGender">-->
<!--                          <option>Male</option>-->
<!--                          <option>Female</option>-->
<!--                        </select>-->
<!--                      </div>-->
                    <div class="form-group">
                      <label>Upload Image</label>

                      <div class="input-group col-xs-12">
                          <img src="{{data.Pro_Image.url}}" width="100px" height="100px">
                          <input type="file" class="form-control file-upload-info" placeholder="Image" name="image">
                          <span class="input-group-append">
                              <button class="file-upload-browse btn btn-primary" type="submit">Upload</button>
                         </span>
                      </div>
                    </div>
<!--                    <div class="form-group">-->
<!--                      <label for="exampleInputCity1">Salary</label>-->
<!--                      <input type="text" class="form-control" id="exampleInputCity1" placeholder="salary" name="salary">-->
<!--                    </div>-->
                    <div class="form-group">
                      <label for="exampleTextarea1">Description</label>
                      <textarea class="form-control" id="exampleTextarea1" rows="4" name="description">{{data.Description}}</textarea>
                    </div>
                    <button type="submit" class="btn btn-primary mr-2">Submit</button>
                    <button class="btn btn-light">Cancel</button>
                    </form>
                </div>
              </div>
            </div>
</body>
</html>

{% endblock %}